/*announcement*/

main {
    padding-left: 30px;
}

/* Form Label Styles */
label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

/* Form Input Fields */
input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 1000px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 1rem;

}


/* Radio button container */
.send-options {
    margin-bottom: 20px;
}

.send-options label {
    margin-right: 15px;
}

/* Radio input styles */
.send-options input[type="radio"] {
    margin-right: 10px;
}

/* Submit Button */
.send-button {
    background-color: #2693FF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #1b67b3;
}

/*end of the announcemt*/
/*annoucement_main*/
.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Button Style */
.add button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #2693FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.add button:hover {
    background-color: #1b67b3;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* List Item */
li {
    margin-bottom: 20px;
}

/* Announcement Container */
.announcement {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.announcement-content {
    margin-left: 10px;
}

/* Announcement Icon */
.announcement i {
    font-size: 2rem;
    color: black;
    margin-right: 15px;
}

/* Announcement Title */
.announcement-title {
    font-size: 1.2rem;
    font-weight: 300;
    color: #333;
    margin-right: 15px;
}

/* Announcement Date */
.announcement-date {
    font-size: 0.9rem;
    color: #2693FF;
    margin-right: 15px;
}

/* Buttons Container */
.buttons {
    margin-left: auto;
}

/* Button Styles */
.buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}